.popular-rent-topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;

  @include bp-max('xl') {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}

.marginTop {
  margin-top: 40px;
}