@import '../app/styles/reset';

#root {
  font-family: $ff-os;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $color-black;
}

#body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.container {
  //width: $container-width;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;

  @include bp-max('xl') {
    max-width: unset;
    width: $container-mobile;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
}


.text-centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.error {
  color: $color-red;
}

:root {
  --totl-primary-background: unset;
  --totl-primary-font-color: unset;
  --totl-primate-font-descolor: unset;
}

.leaflet-top, .leaflet-bottom {
  z-index: 0 !important;
}

.leaflet-pane {
  z-index: 0 !important;
}