/* Base styles for the popup container */
.popup_container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 1s ease, visibility 1s ease, transform 1s ease; 
    z-index: 1000;
    height: 10%;
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    color: $color-white;
    display: flex;
    justify-content: center;
}

.consent {
    display: none;
}

/* Transition for showing and hiding the popup */
.popup_container.show-from-bottom {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
}

.popup_container.show-from-top {
    visibility: visible;
    opacity: 1;
    transform: translateY(-100%); 
}

.popup_container.hide-to-bottom {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%); 
}

.popup_container.hide-to-top {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%); 
}

/* Different styles based on popup type */
.popup_container.info {
    background-color: $color-green; 
}

.popup_container.warning {
    background-color: $color-yellow; 
}

.popup_container.error {
    background-color: $color-red; 
}

/* Styles for popup content */
.popup_content {
    max-width: $container-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
