/* Base styles for the popup container */
.popupContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 1s ease, visibility 1s ease, transform 1s ease; 
    z-index: 1000;
    height: 10%;
    margin: 0;
    padding: 0;
    transform: translateY(100%);
    color: $color-white;
    display: flex;
    justify-content: center;

    /* Transition for showing and hiding the popup */
    &.showFromBottom {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    &.showFromTop {
        visibility: visible;
        opacity: 1;
        transform: translateY(-100%);
    }

    &.hideToBottom {
        visibility: hidden;
        opacity: 0;
        transform: translateY(100%);
    }

    &.hideToTop {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
    }

    /* Different styles based on popup type */
    &.info {
        background-color: $color-green;
    }

    &.warning {
        background-color: $color-yellow;
    }

    &.error {
        background-color: $color-red;
    }
}

.consent {
    display: none;
}

.popupContent {
    max-width: $container-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
