.vehicle_description{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $color-white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    h1{
        font-size: 32px;
        font-weight: bold;
    }

    .delimiter {
        border-top: 1px dotted $color-gray; 
        height: 0;
        width: 100%;
        margin: 15px 15px; 
    }

    .info{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
}