.vehicle_image_container{
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border:  1px solid $color-gray;
    background-color: gray;

    .vehicle_image{
        max-width: 100%;
        max-height: 100%;
    }
}