.pagination-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;

  button {
    font-family: $ff-os;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: $color-gray;
    border: 1px solid;
    border-radius: 50%;
    outline: none;
    width: 40px;
    height: 40px;
    transition: all 0.3s;

    &:hover {
      color: $color-black--light;
    }

    &.active {
      background-color: $color-black--light;
      color: $color-white;
      border-color: $color-black--light;
    }
  }
}
