#header {
  border-bottom: 1px solid $color-gray--lighter_hover;
  height: 70px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  nav {
    flex-grow: 1;
    margin-left: 100px;

    @include bp-max('md') {
      margin-left: 25px;
    }


    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      column-gap: 25px;

      @include bp-max('sm') {
        column-gap: 10px;
      }
    }

    a {
      color: $color-black;
      font-weight: normal;
      text-decoration: none;
      position: relative;

      @include bp-max('md') {
        font-size: 14px;
      }

      &:before {
        content: '';
        height: 1px;
        background: $color-black;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 0;
        transition-property: opacity, width;
        transition-duration: 0.4s;
      }

      &.active {

        &:before {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }

  button {
    @include bp-max('sm') {
      margin-left: 10px;
    }
  }

  .username {
    margin-right: 20px;

    @include bp-max('md') {
      display: none;
    }
  }
}