.orderModalForm {
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;

  @include bp-max('sm') {
    font-size: 24px;
  }
}

.formContainer {
  margin-top: 25px;

  input {
    width: auto;
    min-width: unset;

    @include bp-max('sm') {
      font-size: 14px;
    }
  }
}

.contactForm {
  display: flex;
  flex-direction: column;

  .inputs {
    display: flex;
    column-gap: 15px;

    @include bp-max('sm') {
      flex-direction: column;
      column-gap: unset;
      row-gap: 15px;

      input {
        padding: 12px 10px;
      }
    }
  }

  .nextBtn {
    align-self: center;
    margin-top: 25px;
  }
}

.row {
  display: flex;
  column-gap: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.paymentCol, .addressCol {
  input {
    margin-bottom: 15px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  position: relative;

  .backBtn {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    height: 100%;
  }

  .payBtn {
  }
}

.inputItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  span {
    margin-top: 10px;
  }
}

.error {
  color: $color-red;
}