$color-white: #fff;

$color-black: #172335;
$color-black--light: #404144;

$color-gray: #8B929B;
$color-gray--light: #F6F7F9;
$color-gray--middle: #94A3B8;
$color-gray--lighter: #F2F4F8;
$color-gray--lighter_hover: #E4E9F1;

$color-blue: #3899F3;



$ff-os: 'Open Sans', sans-serif;

$fs-page-title: 32px;