.btn {
  margin: unset;
  font-family: $ff-os;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background: $color-gray--light;
  color: $color-black;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 25px;
  transition: background-color 0.3s ease;

  &.rounded {
    border-radius: 10px;
  }

  &.gray--lighter {
    background: $color-gray--lighter;
  }

  &.action {
    padding: 13px 35px;
    background: $color-blue;
    color: $color-white;
    letter-spacing: 0.5px;

    &:hover {
      background: $color-blue_hover;
    }
  }

  &.successful {
    background: $color-green;
    color: $color-white;

    &:hover {
      background: $color-green_hover;
    }
  }

  &.fw {
    width: 100%;
  }

  &.fb {
    font-weight: bold;
  }


  &:hover {
    background-color: $color-gray--lighter_hover;
  }
}