.cookie_component {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}


.cookie_message {
    font-size: 16px;
    margin-bottom: 20px;
}
