$color-white: #fff;

$color-black: #172335;
$color-black--light: #404144;

$color-gray: #8B929B;
$color-gray--light: #F6F7F9;
$color-gray--middle: #94A3B8;
$color-gray--lighter: #F2F4F8;
$color-gray--lighter_hover: #E4E9F1;

$color-blue: #3899F3;
$color-blue_hover: #1089fa;
$color-blue_active: #0e78d1;

$color-red: #FF4B5F;

$color-green: #5DCE8D;
$color-green_hover: #53B87D;

$color-yellow: #FFB52F;


$ff-os: 'Open Sans', sans-serif;

$fs-page-title: 32px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;


$container-width: 1200px;
$container-mobile: 100%;