.rental_form {
  background-color: $color-white;
  padding: 20px;
  border-radius: 8px;
  

  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .rental_form__dropdown {
    margin-bottom: 20px;
  }

  }