.transports-container {
    flex-grow: 1;
}

.dropdown-container {
    margin-top: 30px;
}

.vehicle-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  flex-grow: 1;
  height: 100%;
}

.transports-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
