.filters {
  display: flex;
  justify-content: space-between;
}

.left {}

.right {
  display: flex;
  align-items: center;
  column-gap: 15px;

  @include bp-max('sm') {
    width: 100%;
    justify-content: space-between;
  }
}

.attributes {

}

.ordering {
}